{% assign selected_collection = collections[collection_handle] %}

{% if selected_collection and selected_collection.products_count > 0 %}
	{% paginate selected_collection.products by 8 %}
		{% for product in paginate.items %}
			{% render 'product-card', product: product %}
		{% endfor %}
		{% render 'pagination', pagination: paginate %}
	{% endpaginate %}
{% elsif selected_collection %}
	<p class='text-subdued text-center m-25'>No products found in this collection.</p>
{% else %}
	<p class='text-subdued text-center'>No collection selected.</p>
{% endif %}
