{% assign variant_id = '' %}
{% assign qty = '1' %}

{% assign url_parts = content_for_header | split: 'variant_id=' %}
{% if url_parts.size > 1 %}
	{% assign after_variant = url_parts[1] | split: '&' | first %}
	{% assign variant_id = after_variant | split: '\u0026' | first %}
{% endif %}

{% assign url_parts = content_for_header | split: 'qty=' %}
{% if url_parts.size > 1 %}
	{% assign after_qty = url_parts[1] | split: '&' | first %}
	{% assign qty = after_qty | split: '\u0026' | first %}
{% endif %}

<section class='max-w-7xl mx-auto px-4 py-8 color-{{ section.settings.color_scheme }}' data-product-preview>
	{% if product %}
		<div class='grid grid-cols-1 md:grid-cols-2 gap-8 items-stretch min-h-[450px]'>
			{% if product.media.size > 0 %}
				{% render 'product-media-viewer', product: product %}
			{% else %}
				{% render 'product-media-empty', shop: shop %}
			{% endif %}

			{% render 'product-info', product: product, variant_id: variant_id ||  null, quantity: qty ||  null %}
		</div>

		<div class='mt-12 prose prose-sm md:prose lg:prose-lg max-w-none text-gray-800'>
			{{ product.description }}
		</div>

	{% else %}
		<p class='text-subdued'>No product found.</p>
	{% endif %}
</section>

{% schema %}
{
	"name": "Product Section",
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"default": "scheme-1"
		}
	],
	"presets": [
		{
			"name": "Default Product"
		}
	]
}
{% endschema %}
