<section class='container mx-auto px-4 py-8 color-{{ section.settings.color_scheme }}'>
	<h1 class='text-3xl font-bold mb-4 text-primary text-center py-10'>{{ section.settings.title }}</h1>
	{% assign selected_collection = collections[section.settings.custom_collection] %}
	{{ selected_collection.url }}
	<dynamic-section
		data-dynamic-url='{{ selected_collection.url }}'
		data-section-id='featured-collection-content'
		data-load-group='featured-collection'
		data-blur-duration='500'
	>
		{% render 'featured-collection-content' %}
	</dynamic-section>
</section>
{% schema %}
{
	"name": "Collection",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Collection Name"
		},
		{
			"type": "collection",
			"id": "custom_collection",
			"label": "Select collection"
		},
		{
			"type": "range",
			"id": "number_of_products_by_page",
			"label": "Number of products by name",
			"default": 8,
			"min": 6,
			"max": 24,
			"step": 2
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"default": "scheme-1"
		}
	],
	"presets": [
		{
			"name": "Collection Page"
		}
	]
}
{% endschema %}
