<div class="container mx-auto px-4 py-8">
  {% for collection in collections %}
    <div class="border bg-white overflow-hidden">
      <a href="{{ collection.url }}">
        <div class="h-80 overflow">
          {% if collection.image != blank %}
            {% assign collection_image = collection.featured_image %}
          {% else %}
            {% assign collection_image = collection.products.first.image %}
          {% endif %}
          <img src="{{ collection_image | image_url: 'medium' }}" alt="" height="80" width="auto">
        </div>
      </a>
    </div>
  {% endfor %}
</div>
