<cart-notification>
	<section class='max-w-7xl mx-auto px-4 py-8 color-{{ section.settings.color_scheme }}' data-product-preview>
		{% if product %}
			<div class='grid grid-cols-1 md:grid-cols-2 gap-8 items-stretch min-h-[450px]'>
				{% if product.media.size > 0 %}
					{% render 'product-media-viewer', product: product %}
				{% else %}
					{% render 'product-media-empty', shop: shop %}
				{% endif %}
				<div class='my-3'>
					<span class='text-xs text-gray-500'>{{ product.vendor }}</span>
				</div>
				<div class='my-3'>
					<h1 class='text-3xl font-bold text-primary mb-2'>{{ product.title }}</h1>
				</div>
			</div>

		{% else %}
			<p class='text-subdued'>No product found.</p>
		{% endif %}
	</section>
</cart-notification>
