<div class='color-{{ settings.color_scheme | default: 'scheme-1' }}'>
	<toast-notification
		class='fixed top-4 left-1/2 -translate-x-1/2 z-50 w-full max-w-3xl pointer-events-none flex flex-col items-center space-y-2'
	></toast-notification>
</div>
