<div
	id='toast'
	class='hidden fixed top-0 left-1/2 transform -translate-x-1/2 z-50 w-full max-w-5xl px-4 opacity-0 translate-y-[-100%] transition-all duration-300'
	style='background-color: var(--color-button); color: var(--color-button-label);'
>
	<div
		id='toast-message'
		class='px-8 py-5 rounded shadow-md text-base font-medium whitespace-nowrap'
	>
		Your toast message
	</div>
</div>
